<!-- Slider -->

	<div class="web-carousel">
		<div class="web-carousel-wrapper">
			<ul class="web-carousel-container">
				<% @players.each do |player| %>
				<li>
					<img src="/assets/people/6.jpg" alt="" />
					<div class="sc-content">
						<h2><%= player.name %></h2>
					</div>
				</li>
				<% end %>
				<li>
					<%= link_to image_tag("/assets/people/player.png",:border=>0),{:action=>"new",:controller => "players"} %>
					<div class="sc-content">
						<h2><%= link_to '新增球員',:controller => 'players',:action => 'new',:id => params[:id] %></h2>
					</div>
				</li>
			</ul>
		</div>
	</div>
	<% if @players.any? ==false %>
	<div id="tips" class="tips tip-index-player" onClick="closeTip();">
		<p>⬅先新增一位球員吧！</p>
	</div>
	<% end %>

<!-- End Slider -->