<!-- Slider -->

	<div class="web-carousel">
		
		<div class="web-carousel-wrapper">

			<ul class="web-carousel-container">

				<% @players.each do |player| %>
				<li>
				       <%= image_tag("/uploads/team_user/avatar/HeadIcon.jpg") %>
					<div class="sc-content">
						<h2><%= player.name %></h2>
					</div>
				</li>
				<% end %>
			</ul>
		</div>
	</div>
	<% if @players.any? ==false %>
	<div id="tips" class="tips tip-index-player" onClick="closeTip();">
		<p>⬅先新增一位球員吧！</p>
	</div>
	<% end %>

<!-- End Slider -->