<div class="container">
  <h2> TEST </h2>
  <div class="btn-group pull-right testt">
    <span class="btn"><i class="icon-th-list"></i> 檢視</span>
    <a class="btn dropdown-toggle" data-toggle="dropdown" href="#"><span class="caret"></span></a>
      <ul class="dropdown-menu">
        <li><a href="#"><i class="icon-plus-sign"></i>新增數據</a></li>
        <li class="divider"></li>
        <li id="qwe"><i class="icon-search"></i>檢視</li>
        <li id="asd"><i class="icon-pencil"></i>編輯</li>
        <li id="zxc"><i class="icon-trash"></i>刪除</li>
      </ul>

  </div>
</div>