<%= @league = League.all %>

 <div class="field">
    <%= label :league_name %>
    <%= collection_select :league_id, League.all,:id,:name, include_blank: true %>
  </div>
  <div class="actions">
    <%= submit %>
  </div>
