.percent{
display: block;
color: #fff;
font-size: 12px;
margin-left: 5px;
height: auto;
position: absolute;
top: 2px;
}
.percentagebarinner{
width: 0%;
background: #FFF;
height: 20px;
background:#6EA5E1;
position: relative;

}
.percentagebar{
	width:100%;
	position:relative;
	background: #FFF;
	height:20px;
}

#new_record{
	width:400px;
	margin: 0 auto;
	position:relative;
}