<p>Hello <%= @resource.email %>!</p>

<p>您好，請點選以下連結修改您的密碼：</p>

<p><%= link_to '更改我的密碼', edit_password_url(@resource, :reset_password_token => @resource.reset_password_token) %></p>

<p>若您沒有申請「密碼變更」，請忽略本信件。</p>
<p>除非您點選連結修改密碼，否則您的密碼不會被變更！</p>
