<!DOCTYPE html>
<html>
<head>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
</head>
<body>
<div class="navbar navbar-inverse navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <a class="brand" href="./index.html">Bootstrap</a>
      <div class="nav-collapse collapse">
        <ul class="nav">
          <li><%= link_to 'player', players_path %></li>
          <li>zxc</li>
          <li>qwe</li>
          <li>fgh</li>
        </ul>
      </div>
    </div>
  </div>
</div>
<%= yield %>

</body>
</html>
